.customcard{
    margin-top: 0px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 190px;
    height: 270px;
    border-radius: 20px;
    background: linear-gradient(
        180deg,
        #ffffff 0%,
        #ffffff 50%,
        #ea9662 100%
    );

    opacity: 82%;
    z-index: -1;

    

}
.topcard {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    --thickness: 7px;

    background:
        conic-gradient(
            from 180deg,
            #000000 0deg,
            #FDC55E 180deg,
            #000000 180deg,
            transparent 180deg
        );

    /* create ring */
    -webkit-mask:
        radial-gradient(
            farthest-side,
            transparent calc(100% - var(--thickness)),
            #000 calc(100% - var(--thickness) + 1px)
        );
    transform: rotate(90deg);
    z-index: 3;
    margin-bottom: -60px;
    margin-top: 40px;
    margin-left: 110px;
    
    
  
}

